*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.loader{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	animation: animate 6s ease-in-out infinite;
}
h2{
	color: #ffffff;
	z-index: 1;
	font-size: 6em;
}
@keyframes animate{
	0%{
		transform: scaleX(0);
		transform-origin: left;
		background-color: #ff2c60;
	}
	25%{
		transform: scaleX(1);
		transform-origin: left;
		background-color: #ff2c60;
	}
	25.001%{
		transform: scaleX(1);
		transform-origin: right;
		background-color: #ff2c60;
	}
	50%{
		transform: scaleX(0);
		transform-origin: right;
		background-color: #03E9F4;
	}
	75%{
		transform: scaleX(1);
		transform-origin: right;
		background-color: #03E9F4;
	}
	75.001%{
		transform: scaleX(1);
		transform-origin: left;
		background-color: #ff2c60;
	}
	100%{
		transform: scaleX(0);
		transform-origin: left;
		background-color: #ff2c60;
	}
}