*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: '微软雅黑',sans-serif;
}
.container{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff173;
	transition: 0.5s;
	padding: 20px;
}
.content{
	position: relative;
	max-width: 800px;
}
h2{
	font-weight: 600;
	margin-bottom: 10px;
	color: #333;
}
.content img{
	max-width: 100%;
	display: block;
}
a{
	position: relative;
	padding: 5px 20px;
	text-decoration: none;
	margin-top: 20px;
	display:inline-block;
	color: #fff;
	background-color: #000;
	border-radius: 40px;
}
#blur.active{
	filter: blur(10px);
	/* 没有任何事件 */
	pointer-events: none;
	/* 用户不能选中*/
	user-select: none;
}
#popup{
	position: fixed;
	top: 40%;
	left: 50%;
	width: 600px;
	transform: translate(-50%,-50%);
	box-shadow: 0 5px 30px rgba(0,0,0,0.3);
	background-color: #fff;
	padding: 50px;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}
#popup.active{
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
}